@model RefugeeCamp.Web.ViewModels.TopicListView

@section Styles
{
    <style>
        .post {
            background-color: #ffffff;
            border-radius: 2px;
            box-shadow: 0 1px 2px #c9cccd;
            margin-bottom: 20px;
        }

            .post .wrap-ut {
                width: 85%;
            }

            .post .userinfo {
                width: 15%;
                padding: 20px 0 15px 15px;
            }

            .post .posttext {
                width: 85%;
                padding-right: 30px;
                padding-top: 20px;
                padding-bottom: 15px;
                color: #989c9e;
                font-size: 14px;
                font-family: 'Open Sans Light', sans-serif;
                line-height: 25px;
            }

            .post .postinfo {
                width: 15%;
                border-left: solid 1px #f1f1f1;
            }

            .post .avatar {
                width: 37px;
                margin-left: 5px;
            }

            .post .icons {
                width: 48px;
                border-top: solid 1px #f1f1f1;
                margin-top: 12px;
                padding-top: 7px;
            }

            .post h2 {
                color: #363838;
                font-size: 18px;
                font-family: 'Open Sans', sans-serif;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .post .comments {
                border-bottom: solid 1px #f1f1f1;
                padding: 18px 0 25px 0;
                text-align: center;
            }


                .post .comments .commentbg {
                    background-color: #bdc3c7;
                    border-radius: 2px;
                    display: inline-block;
                    padding: 12px 17px;
                    color: #ffffff;
                    font-size: 14px;
                    font-family: 'Open Sans Bold', sans-serif;
                    position: relative;
                }

                    .post .comments .commentbg .mark {
                        width: 11px;
                        height: 11px;
                        background-color: #bdc3c7;
                        position: absolute;
                        bottom: 0;
                        left: 43%;
                        margin-bottom: -5px;
                        transform: rotate(45deg);
                        -ms-transform: rotate(45deg); /* IE 9 */
                        -webkit-transform: rotate(45deg); /* Opera, Chrome, and Safari */
                    }

            .post .views {
                border-bottom: solid 1px #f1f1f1;
                color: #9da6aa;
                font-size: 12px;
                font-family: 'Open Sans Regular', sans-serif;
                text-align: center;
                line-height: 29px;
            }

                .post .views i {
                    font-size: 14px;
                }

            .post .time {
                color: #9da6aa;
                font-size: 12px;
                font-family: 'Open Sans Regular', sans-serif;
                text-align: center;
                line-height: 29px;
            }

                .post .time i {
                    font-size: 14px;
                }







        /*-----------------------------------------------------------------*/
        /* #02_topic.html - TOPIC */

        /*--- Breadcrumb ---*/
        .breadcrumbf a, .breadcrumbf {
            color: #bdc3c7;
            font-size: 12px;
            font-family: 'Open Sans Regular', sans-serif;
            line-height: 62px;
        }

            .breadcrumbf a:hover {
                text-decoration: underline;
            }

        /*--- Topic ---*/
        .topic .userinfo {
            width: 12%;
        }

        .topic .posttext {
            width: 88%;
        }

        .postinfobot {
            border-top: solid 1px #f1f1f1;
            line-height: 50px;
            padding: 0 30px 0 94px;
        }


            .postinfobot .likeblock {
                width: 120px;
            }

            .postinfobot .prev {
                width: 30px;
            }

                .postinfobot .prev a {
                    font-size: 18px;
                    color: #bdc3c7;
                }

            .postinfobot .posted {
                width: 300px;
                margin-left: 18px;
                font-size: 12px;
                color: #bdc3c7;
                font-family: 'Open Sans Regular', sans-serif;
            }

                .postinfobot .posted i {
                    font-size: 18px;
                    color: #bdc3c7;
                    padding-right: 8px;
                }

            .postinfobot .next {
                width: 90px;
                text-align: right;
            }

                .postinfobot .next a {
                    font-size: 18px;
                    color: #bdc3c7;
                }

                    .postinfobot .next a i {
                        padding-right: 18px;
                    }

        .up {
            color: #1abc9c;
            font-size: 12px;
        }

            .up i,
            .down i {
                font-size: 20px;
                padding-right: 10px;
            }

        .down {
            color: #db7a7a;
            font-size: 12px;
            margin-left: 20px;
        }

        a.up:hover {
            text-decoration: none;
            color: #1de4bd;
        }

        a.down:hover {
            text-decoration: none;
            color: #f48989;
        }

        .beforepagination {
            margin-bottom: 0;
        }


        /*--- Quote post ---*/
        .post blockquote {
            border: solid 1px #f1f1f1;
            border-radius: 2px;
            font-size: 14px;
            padding: 18px;
        }

            .post blockquote .original,
            .postreply {
                font-size: 12px;
                color: #bdc3c7;
                display: block;
                font-family: 'Open Sans Regular', sans-serif;
            }

        .textwraper textarea {
            border: none;
            box-shadow: none;
            background-color: #f1f1f1;
            /*    width: 610px;*/
            width: 100%;
        }

        .textwraper {
            background-color: #f1f1f1;
            border-radius: 2px;
            padding: 18px;
        }

        .notechbox {
            width: 20px;
        }

            .notechbox input {
                width: 12px;
                box-shadow: none;
                margin-top: 8px;
                border-color: #bdc3c7;
            }

                .notechbox input:active,
                .notechbox input:focus,
                .notechbox input:hover {
                    box-shadow: none;
                }

        .postinfobot label {
            color: #bdc3c7;
            font-size: 12px;
            font-family: 'Open Sans Regular', sans-serif;
        }


        .smile a {
            margin-right: 20px;
            font-size: 20px;
            color: #bdc3c7;
        }



        .btn-primary {
            background-color: #1abc9c;
            box-shadow: none;
            border-radius: 2px;
            padding: 10px 15px;
            color: #ffffff;
            font-size: 14px;
            font-family: 'Open Sans Bold', sans-serif;
            border: none;
        }

            .btn-primary:hover,
            .btn-primary:active,
            .btn-primary:focus {
                border: none;
                background-color: #20e1bb;
                box-shadow: none;
            }



        /*-----------------------------------------------------------------*/
        /*--- #03_new_topic.html - NEW TOPIC ---*/

        .newtopic input[type=text],
        .newtopic input[type=password] {
            border-radius: 2px;
            box-shadow: none;
            border: none;
            background-color: #f1f1f1;
            padding: 20px;
            font-size: 14px;
            color: #989c9e;
            font-family: 'Open Sans Light', sans-serif;
            margin-bottom: 20px;
            height: 50px;
        }

        .newtopic select {
            border-radius: 2px;
            box-shadow: none;
            border: solid 1px #cfd5d7;
            background-color: #ffffff;
            font-size: 14px;
            color: #989c9e;
            font-family: 'Open Sans Light', sans-serif;
            margin-bottom: 20px;
            height: 50px;
        }

            .newtopic select:hover,
            .newtopic select:focus,
            .newtopic select:active {
                box-shadow: none;
            }


        .newtopic textarea {
            border-radius: 2px;
            box-shadow: none;
            border: none;
            background-color: #f1f1f1;
            padding: 20px;
            font-size: 14px;
            color: #989c9e;
            font-family: 'Open Sans Light', sans-serif;
            margin-bottom: 20px;
            height: 150px;
        }

            .newtopic textarea:hover,
            .newtopic textarea:focus,
            .newtopic textarea:active {
                box-shadow: none;
            }

        .newtopic p {
            font-size: 14px;
            color: #363838;
            font-family: 'Open Sans Light', sans-serif;
        }


        .newtopcheckbox input {
            margin-top: 5px;
            width: 18px;
            height: 18px;
            /*    width: 18px;
        box-shadow: none;
        margin-top: 8px;
        border-color: #bdc3c7;*/
        }

        .checkbox input {
            margin-right: 7px;
        }

        .checkbox .fa-facebook-square {
            color: #3b5b99;
            font-size: 20px;
            margin-top: 4px;
        }

        .checkbox .fa-google-plus-square {
            color: #e74724;
            font-size: 20px;
            margin-top: 4px;
        }

        .checkbox .fa-twitter {
            color: #42c8f4;
            font-size: 20px;
            margin-top: 4px;
        }

        .loading {
            text-align: right;
        }

        .similarposts {
            /*    height: 57px;*/
            margin-bottom: 20px;
        }

            .similarposts p {
                display: inline;
                color: #bdc3c7;
            }

                .similarposts p span {
                    color: #363838;
                }

            .similarposts .fa-info-circle {
                font-size: 18px;
                color: #3498db;
                margin-right: 10px;
            }

            .similarposts .fa-spinner {
                font-size: 18px;
                color: #363838;
            }

        .postinfotop h2 {
            color: #363838;
            font-size: 14px;
            font-family: 'Open Sans Bold', sans-serif;
            padding: 20px;
            margin: 0;
            border-bottom: solid 1px #f1f1f1;
        }

        #custom-search-input{
            padding: 3px;
            border: solid 1px #E4E4E4;
            border-radius: 6px;
            background-color: #fff;
        }

        #custom-search-input input{
            border: 0;
            box-shadow: none;
        }

        #custom-search-input button{
            margin: 2px 0 0 0;
            background: none;
            box-shadow: none;
            border: 0;
            color: #666666;
            padding: 0 8px 0 10px;
            border-left: solid 1px #ccc;
        }

        #custom-search-input button:hover{
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }

            #custom-search-input .fa-search {
                font-size: 23px;
            }
    </style>
}

<div class="container" style="margin-bottom: 50px; margin-top: 25px;">


        @using (@Html.BeginForm("SearchTopic", "Topic", FormMethod.Get, new { @id = "search-ipt" }))
        {
            <div class="row">
                <div class="col-4"></div>
                <div class="col-xs-6 col-md-4">
                    <div class="input-group">
                    @Html.TextBox("str", "", new { @class = "form-control input-lg", placeholder = "Search for topic",style=""})
                </div>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit", form="search-ipt">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </div>
           
                       
                    



        }

    
    





@foreach (var item in Model.ListTopic)
    {
        
        <div class="container-fluid">
       
        @{Html.RenderPartial("TopicItem",item);}
            
        </div>
        }

    </div>