@model RefugeeCamp.Web.ViewModels.StatViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Orders Statistics</h2>
<hr />
<div class="row">

    <div class="col-lg-4 col-md-5">
        <!-- Column -->
        <div id="morris-area-chart2" style="display: none;"></div>
        <div class="card card-default">
            <div class="card-header">
                <div class="card-actions">
                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                    <a class="btn-minimize" data-action="expand"><i class="mdi mdi-arrow-expand"></i></a>
                    <a class="btn-close" data-action="close"><i class="ti-close"></i></a>
                </div>
                <h4 class="card-title m-b-0">Order Stats</h4>
            </div>
            <div class="card-body collapse show">
                <div id="morris-donut-chart" class="ecomm-donute" style="height: 317px;"></div>
                <ul class="list-inline m-t-20 text-center">
                    <li>
                        <h6 class="text-muted"><i class="fa fa-circle text-info"></i> Recived</h6>
                        <h4 class="m-b-0">@Html.DisplayFor(model => model.recived)</h4>
                    </li>
                  
                    <li>
                        <h6 class="text-muted"> <i class="fa fa-circle text-success"></i> Pending</h6>
                        <h4 class="m-b-0">@Html.DisplayFor(model => model.pending)</h4>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        Morris.Donut({
            element: 'morris-donut-chart',
            data: [{
                label: "Pending",
                value: @Html.DisplayFor(model => model.pending),

            }, {
                label: "Recived",
                value: @Html.DisplayFor(model => model.recived),
            }],
            resize: true,
            colors: ['#26c6da', '#1976d2', '#ef5350']
        });
    </script>
}